<div class="container">
  <h1 class="my-5"> <%= @task.title %> </h1>
  <p class="m-3 information"> <%=  @task.details %> </p>
  <div class="d-flex">
    <%= link_to 'Home', tasks_path, class: 'btn btn-info m-3' %>
    <%= link_to 'Edit', edit_task_path, class: 'btn btn-info m-3' %>
  </div>
</div>
