/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
  background-image: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url("https://blog.airtable.com/content/images/2022/02/post-it-inline.jpg");
}

.title a {
  text-decoration: none !important;
  color: #000000 !important;
  text-shadow: 1px 1px 0px #ffffff;
  font-family: 'Lobster', cursive;
}
.delete  a {
  text-decoration: none !important;
  color: #000000 !important;
  background: none;
  border: none;
}
h1 {
  text-align: center;
  font-family: 'Dancing Script', cursive;
  text-shadow: 1px 1px 0px #ffffff;
}

label, .btn {
  font-family: 'Dancing Script', cursive;
}

form {
width: 40%;
}
